@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color:#010959;
}

.logo {
  color:#EEBE60 ;  
    font-size: 2rem;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 0 0.5rem;
}

.nav-links ul li a {
    text-decoration: none;
    color: #EEBE60;
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-links li a:hover {
    color: #ffff;
}

.txt{
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
.container{
    padding: 0 1rem;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.content img{
    width: 100%;
}
.content img:hover{ background-color: #EFEFEF;opacity: 0.8;}
.box{
    background-color:#EFEFEF;
    padding: 2rem;
    color: black;
} 
.box h3{
    padding: 0.8rem 0;
    color: #010959;
}
.box i{
    color: #010959;
}
.box ul li{
    list-style: none;
padding: 0.8rem 0;}
    
 .box button{
 margin-top: 0.5rem;
padding: 0.8rem 2rem;
 background-color: #010950;
 color: #EEBE60;
 border-radius: 6px;
 border: none;
 font-size: 1.1rem;
 cursor: pointer;
 box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
 } 
 .box button:hover{
    background: transparent;
    border: 2px solid #010950;
    color: #010950;
 }  
 footer {
    margin: 0 1rem;
    padding: 2rem;
    background-color: #EEBE60;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
}
.footer-links h3,
h1{
    color: #010950;
}

.footer-links ul li {
    list-style: none;
    color: black;
    padding: 0.4rem 0;
    cursor: pointer;
    font-weight: 400;
}

.footer-links ul li:hover {
    color: #ffff;
}

footer h4 {
    padding-top: 0.9rem;
    text-align: center;
    color: #010950;
}

/* chat toggle */
.comment button {
    border: none;
    background: transparent;
}

.comment {
    position: fixed;
    bottom: 3%;
    right: 1%;
    font-size: 1.3rem;
}

.comment .modal-btn h4 {
    background-color: #010950;
    border-radius: 6px;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.comment i {
    color: #EEBE60;
    font-size: 1.3rem;
}

.model-container form {
    background-color: #010950;
    padding: 1rem 3rem;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    position: relative;
}

.model-container form input {
    margin: 1rem auto;
    border: none;
    outline: none;
    padding: 1rem;
    background: transparent;
    border: 1px solid #EEBE60;
    width: 100%;

}

.model-container form ::placeholder {
    color: #EFEFEF;
    padding: 0.6rem 0;
    font-size: 0.7rem;
    outline: none;
    background: transparent;
}

#submit {
    margin-top: 0.5rem;
    padding: 0.8rem 2rem;
    background-color: #EEBE60;
    color:#010950;
    border-radius: 6px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.model-container form h2 {
    padding: 1rem 0;
    font-size: 1rem;
    color: #EFEFEF;
}

.close-btn {
    position: absolute;
    top: 3%;
    right: 3%;
    background: transparent;
    border: none;
}

.close-btn i {
    display: block;
    font-size: 1.5rem;
    color: white;
    text-align: right;
    cursor: pointer;
}

.model-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.open-model {
    visibility: visible;
    z-index: 10;
}

#score {
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
}

/* chat toggle ends */
.navbar i {
    display: none;
}
@media screen and (min-width:769px) and (max-width:1279px){
    .content img{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:768px) {

 .navbar {
  padding: 1rem;
  margin: auto;
    }

 .nav-links ul li {
     display: block;
     margin: 50px auto;
    }
.nav-links {
  position: fixed;
  width: 400px;
  height: 100vh;
 background-color: #010950;
top: 0;
 right: -500px;
 z-index: 2;
 overflow: hidden;
 text-align: center;
 transition: 0.4s;

    }
 .navbar i {
        display: block;
        margin: 20px;
        font-size: 1.5rem;
        color:#EEBE60;
        text-align: right;
 }
 .nav-links ul li a{
    color: #EFEFEF;
    margin: auto;
 }
 .container{
    padding: 0 0.5rem;
 }
 .content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
 }
 .box{
    padding: 0.3rem;
 }
 .box2{
    order: 1;
 }
 .box button{
    margin-bottom: 0.8rem;
 }

 footer{
 padding: 1rem;
 width: 100%;
 margin: auto;
    
    }
 footer h1 {
 padding: 0.9rem 0;
 }
    
 footer h3 {
 padding: 0.6rem 0;
        }
    
.footer-links {
 grid-template-columns: repeat(1, 1fr);
        }
    
.footer-links ul {
 padding: 0.3rem;
        }
    
 footer h4 {
 padding: 0.6rem 0;
 text-align: center;
        }
.model-container form {
 width:100%;
padding: 10rem 1rem;
height: 100vh;
    }

.model-container form input {
 width: 80%;
 padding: 1rem;
        }
        }

